@import '~antd/dist/antd.css';
.cardSection {
    width: 20.33%;
    height: 100vh;
    float: left;
    background-color: #65cee2;
    overflow-y: auto;
}

.card {
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    font-size: 10px;
    word-wrap: break-word;
}

h1 {
    font-size: 14px;
    margin: 0px;
}

.leaderboard-card:hover {
    background-color: greenyellow;
    border-radius: 10px;
}